button {
  margin: 5px;
  position: fixed;
  bottom: 0;
  right: 1;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.list-item {
  border-bottom: 1px solid #E0DDDD;
  height: 70px;
  padding: 0 10px;
}

.text {
  color: #908F8F;
  height: 70px;
  overflow-y:  hidden;
}

.list-item:hover {
  cursor: pointer;
}

span {
  margin-left: 0px !important
}