button {
  margin: 5px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.list-item {
  border-bottom: 1px solid #E0DDDD;
  height: 50px;
  padding: 0 10px;
}

.text {
  color: #908F8F;
  padding: 10px;
  height: 70px;
  overflow-y:  hidden;
}