body {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: 'Helvetica';
    overflow: hidden;
}

aside {
    height: inherit;
    width: 30%;
    border-right: 1px solid #E0dddd;
}

main {
    height: inherit;
    width: 70%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.journal {
    width: 90%;
    height: 80vh;
}

#date h1 {
    font-weight: lighter;
    color: #707070;
    font-size: 30px;
}

hr {
    margin-top: -10px;
    height: 0px;
    border:1px solid #02C39A;
}


.editor-container {
    width: 80%;
    height: inherit;
    display: block;
    margin: 0 auto;
    overflow-y: scroll;
}

.ql-container.ql-snow {
    border: none;
    font-size: 18px;
    font-weight: lighter;
    color: #707070;
}

.ql-editor {
    margin-right: 0px;
    padding: 0px;
    padding-top: 15px
}
