<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../vendor/quill/quill.snow.css" />
  <link rel="stylesheet" href="main.css" />
  <title>Journal</title>
</head>

<body>
  <aside>Hello</aside>
  <main>
    <div class="journal">
      <div id="date">
        <h1>Thursday, February 4th, 2021</h1>
      </div>
      <hr>
      <div class="editor-container">
          <div id="editor"></div>
      </div>
    </div>
  </main>
  <script>
    // Browser environment doesn't support exports so we are giving it a dummy value
    var exports = { "_esModule": true }
  </script>
  <script>import('../../dist/views/renderer.js')</script>
</body>

</html>
