*::-webkit-scrollbar {
    width: 1px;
}

.editor-container {
    width: 100%;
    height: inherit;
    display: block;
    margin: 0 auto;
    overflow-y: scroll;
}

.ql-container.ql-snow {
    border: none;
    font-size: 18px;
    font-weight: lighter;
    color: #707070;
}

.ql-editor {
    margin-right: 0px;
    padding: 0px;
    padding-top: 15px
}

.entry-placeholder {
    margin-top: 80px;
    display: flex;
    width: 80%;
    height: inherit;
    justify-content: center
}

.entry-placeholder h1 {
    font-weight: 200;
    color: #02C39A;
    font-size: 30px;
}